* {
    margin: 0;
    padding: 0;
}

#form {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

input {
    margin-right: 10px;
}

#form h3 {
    color: #303030;
    margin-bottom: 20px;
}


p {
    margin-top: 10px;
}

button {
    width: 20%;
    padding: 10px;
}
