@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

#body {
    
    background-image: linear-gradient(#1d3a6e54, #ffc1e788);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-area {
    background: #faf9f1;
    padding: 10px;
    text-align: center;
    width: 50%;
    position: relative;
    
}

.form-area h2 {
    font-size: 30px;
}

#form {
    width: 80%;
    text-align: center;
    margin: auto;
}

.form-area .formControl label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
}

.form-area .formControl input {
    display: block;
    padding: 10px;
    width: 100%;
    font-size: 20px;
    border: 1px solid #868686;
    border-radius: 5px;
    transition: 0.3s;
    background: #f6fff6;
}

.form-area .formControl.error input {
    outline: none;
    border: 2px solid red;
    visibility: visible;
}

.form-area .formControl input:hover {
    transform: scale(1.05);
    background: #ffdede;
    color: rgb(0, 0, 0);
}


.form-area .formControl.success input {
    outline: none;
    border: 2px solid #0ba80b;
    border-radius: 5px;
    visibility: visible;
}

.form-area .formControl input:focus {
    outline: none;
    border: 2px solid #868686;
}


.form-area .formControl small {
    display: block;
    text-align: left;
    margin-bottom: 5px;
    color: red;
    visibility: hidden;
}

.form-area .formControl.error small {
    display: block;
    text-align: left;
    margin-bottom: 5px;
    color: red;
    visibility: visible;
}

.form-area #submit {
    background: grey;
    padding: 10px 30px;
    width: 100%;
    font-size: 22px;
    border: 2px solid #8f8a8a;
    transition: 0.3s;
}

/* Animation area */

.form-area #submit:hover {
    outline: none;
    border: 2px solid #1b1414;
}

/* 
.form-area::after, .form-area::before {
    content: '';
    position: absolute;
    transition: 0.3s ease-in;
}

.form-area::after {
    top: 0px;
    left: 0;
    height: 5px;
    width: 0;
}

.form-area::before {
    right: 0px;
    bottom: 0;
    height: 5px;
    width: 0;
}

.form-area:hover::after {
    width: 100%;
    background: green;
}

.form-area:hover::before {
    width: 100%;
    background: green;
}
.form-area form::after, .form-area form::before {
    content: '';
    position: absolute;
    transition: 0.3s ease-in;

}

.form-area form::before {
    left: 0;
    top: 0;
    height: 0;
    width: 5px;

}

.form-area form::after {
    bottom: 0;
    right: 0;
    height: 0;
    width: 5px;

}


.form-area:hover form::after {
    height: 100%;
    background: green;
}

.form-area:hover form::before {
    height: 100%;
    background: green;
} */