@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.form-Area {
    width: 45%;
    margin: auto;
    text-align: center;
    margin-top: 50px;
}

.form-Area form {
    width: 75%;
    margin: auto;
    background-image: linear-gradient(to left, #95ccff7a, #00e1ff5e);
    padding: 10px;
}

.form-Area form .formControl input {
    width: 95%;
    margin: auto;
    margin-top: 5px;
    display: block;
    padding: 10px;
    box-shadow: 0px 0px 10px 2px #00aad4;
    border: none;
    outline: 1px solid #000057;
    border-radius: 5px;
    font-size: 22px;
    transition: 0.3s;
}

.form-Area form .formControl.error input {
    border: red;
    box-shadow: 0px 0px 10px 3px red;
}

.form-Area form .formControl.success input {
    border: red;
    box-shadow: 0px 0px 10px 3px green;
}

.form-Area form .formControl input:hover {
    /* border: 1px solid green; */
    box-shadow: 0px 0px 8px 2px #00776d;
    border-radius: 15px;
}


.form-Area form .formControl input:focus {
    /* border: 1px solid green; */
    box-shadow: 0px 0px 10px 2px #012925;
    border-radius: 20px;
}

.form-Area form .formControl label {
    text-align: left;
    margin-top: 10px;
    display: block;
    font-size: 20px;
}

.form-Area form .formControl small {
    text-align: left;
    text-align: left;
    display: block;
    visibility: hidden;
    margin-top: 5px;
    color: red;
}

.form-Area form .formControl.error small {
    visibility: visible;
}

.form-Area form .genderArea p.showGender {
   visibility: hidden;
}

.form-Area form .genderArea.showValue p.showGender {
    visibility: visible;
    color: red;
}

.form-Area form .checkBoxArea p.showCheckBox {
    visibility: hidden;
}

.form-Area form .checkBoxArea.showCheck p.showCheckBox {
    visibility: visible;
    color: red;
}

.form-Area form .checkBoxArea .showCheckValue {
    visibility: hidden;
    display: block;
}

.form-Area form .checkBoxArea .showCheckValue.show {
    visibility: visible;
}


.form-Area form hr {
    margin-top: 10px;
    margin-bottom: 10px;
}

.form-Area form button {
    background-image: linear-gradient(to left, #23425f, #00e1ff);
    padding: 10px 50px;
    border-radius: 10px;
    font-size: 22px;
    margin-top: 10px;
    border: 1px solid #01016e;
    display: block;
    margin: auto;
    margin-bottom: 10px;
    transition: 0.3s;
}

.form-Area form button:hover {
    padding: 10px 50px;
    border-radius: 15px;
    background-image: linear-gradient(to left, #102233, #026c7a);
    color: #fff;
}